<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", { title: "Login" }) %>

    <body>

        <%- include("../partials/header") %>

        <main class="form-container auth-page">

            <h2>Perfil</h2>

            <p><strong>Nombre:</strong> <%= user.firstName %> <%= user.lastName %></p>
            <p><strong>Email:</strong> <%= user.email %></p>

            <img src="/images/users/<%= user.image %>" alt="Foto de perfil" width="150">

            <form action="/users/logout" method="POST">
                <button type="submit">Cerrar sesión</button>
            </form>

        </main>

        <%- include("../partials/footer") %>

    </body>
</html>