<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", { title: "Login" }) %>

    <body>

        <%- include("../partials/header") %>

        <main class="form-container auth-page">

            <h2>Perfil</h2>

            <p><strong>Nombre:</strong> <%= usuario.nombre %> <%= usuario.apellido %></p>
            <p><strong>Email:</strong> <%= usuario.email %></p>

            <img src="/images/users/<%= usuario.imagen %>" alt="Foto de perfil" width="150">

            <form action="/users/logout" method="POST">
                <button type="submit">Cerrar sesión</button>
            </form>

        </main>

        <%- include("../partials/footer") %>

    </body>
</html>