<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", { title: "Login" }) %>

    <body>

        <%- include("../partials/header") %>

        <main class="form-container">
            <h2>Perfil de Usuario</h2>

            <p>Nombre: <%= user.firstName %> <%= user.lastName %></p>
            <p>Email: <%= user.email %></p>

            <img src="/images/users/<%= user.image %>" width="150">

        <%- include("../partials/footer") %>

    </body>
</html>