<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", { title: "Productos" }) %>

    <body>

        <%- include("../partials/header") %>

        <main>
            <h1>Listado de Productos</h1>

            <a href="/products/create">
                Crear nuevo producto
            </a>

            <hr>

            <div class="products-container">

                <% products.forEach(product => { %>

                    <div class="product-card">

                        <img src="/images/<%= product.image %>" alt="<%= product.name %>">

                        <h3><%= product.name %></h3>

                        <p>$ <%= product.price %></p>

                        <a href="/products/<%= product.id %>">Ver detalle</a>

                        <a href="/products/<%= product.id %>/edit">Editar</a>

                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST" style="margin-top: 20px;">
                            <button type="submit" onclick="return confirm('¿Estás seguro que querés eliminar este producto?')">
                                Eliminar Producto
                            </button>
                        </form>

                    </div>

                <% }) %>

            </div>

        </main>

        <%- include("../partials/footer") %>

    </body>
</html>