<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head", { title: "Productos" }) %>

    <body>

        <%- include("../partials/header") %>

        <main>
            <h1>Listado de Productos</h1>

            <a href="/products/create">
                Crear nuevo producto
            </a>

            <hr>

            <% products.forEach(product => { %>
                <div>
                    <h2><%= product.name %></h2>
                    <p><%= product.description %></p>
                    <p>Precio: $<%= product.price %></p>

                    <a href="/products/<%= product.id %>">
                        Ver detalle
                    </a>

                    <a href="/products/<%= product.id %>/edit">
                        Editar
                    </a>
                </div>

                <hr>
            <% }) %>

        </main>

        <%- include("../partials/footer") %>

    </body>
</html>